<!DOCTYPE html>
<html>
  <h1>Create a Team and Heroes!</h1>
  <form>
    <p>Team Name: <input type="text" name="team_name"><br>
      Team Motto: <input type="text" name="motto"><br>
    </p>
    <h3>Hero 1</h3>
    <p>Hero's Name: <input type="text" name="hero_name_1"><br>
    Hero's Power: <input type="text" name="hero_power_1"><br>
    Hero's Biography: <input type="text" name="hero_bio_1">
    </p>
    
    <h3>Hero 2</h3>
    <p>Hero's Name: <input type="text" name="hero_name_2"><br>
    Hero's Power: <input type="text" name="hero_power_2"><br>
    Hero's Biography: <input type="text" name="hero_bio_2">
    </p>
    
    <h3>Hero 3</h3>
    <p>Hero's Name: <input type="text" name="hero_name_3"><br>
    Hero's Power: <input type="text" name="hero_power_3"><br>
    Hero's Biography: <input type="text" name="hero_bio_3">
    </p>
    <input type="submit">
  </form>
</html>

