<!DOCTYPE html>
<html>
  
  <h1><%= @team[:name] %></h1>
  <h2>Team Motto: School Rocks!</h2>
  
  <h2>Hero Name: <%= %></h2> 
  
  <p>Hero Power: <%= %> <br>
      Hero Biography: <%= %>
  </p>
  
  
</html>